/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

body {
    background-color: hsl(0 0% 0% / .05);
    padding: 1.5rem;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

.c-dashboard__item {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px solid hsl(0 0% 0% / .1);
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/